<!DOCTYPE html>
<html>
    <head>
        <title>>{{ page.title }} | {{ site.site_title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>        
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

        <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
        </nav>

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          <!--TODO-->
        </div>


        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">{{ page.title | smartify }}</h1>
          <p class="bd-lead">{{ page.description | smartify }}</p>
          {{ content }}
        </main>
      </div>
    </div>
    </body>
</html>
